header {
    background-color: aliceblue;
}

main {
    background-color: aliceblue;
}

footer {
    background-color: black;
    color: white;
}

/* menu 안의 li테그 선택 */
#menu > li{
    background-color: blue;
}